@CHARSET "UTF-8";

.managementContentWrapperWH managementContentWrapperH{
	min-height: 700px;
}

	.managementContentWrapperWH{
		float:left;
		width:45%;
	}

.myButtons{
	width:80px;
}

.error{
	color:red;
	font-size:9px;
}

.errorblock {
	padding: 8px 0 8px 0;
	margin:0 0 20px 0;
}

.imageClip {
	
	width: auto;
	height: 100px;
	overflow: hidden;
}