@CHARSET "UTF-8";

.managementContentWrapperWH managementContentWrapperH{
	min-height: 700px;
}

	.managementContentWrapperWH{
		float:left;
		width:45%;
	}

.myButtons{
	width:100px;
	margin:0 10px 0 10px;
}

.error{
	color:red;
	font-size:11px;
}

.errorblock {
	padding: 8px 0 8px 8px;
	margin:0 0 20px 0;
}

.imageClip {
	
	width: auto;
	height: 100px;
	overflow: hidden;
}

.catalogToolBar{
	margin:100px 0 40px 0;
	height:50px;
	width:100%;
	padding:10px;
	background-color: #d9edf7;
	color:white;
}
.form-inline form{
	float: left;
	margin:0 40px 0 40px;
	padding:0;
}



.login{
width:210px;
max-height:260px;
float:right;
padding: 25px 15px 15px;
margin: 100px 15px 15px;
border-style:solid;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0;
}
.login p{
	padding: 0 0 20px 0;
	font-weight: bold;
}

.login i{
	margin:0 0 40px 0;
}

.login ol{
	margin-left:-14px
}
.login i a{
	font-size:13px;
	font-weight: bold;
	margin:0 0 0 10px;
}


.bgWhite{
	background-color: white;
}


.table .manage{
	width:280px;
}

.min-height-450{
	min-height: 450px;
}

.centered{
    float: none;
    margin: 0 auto;
}

/* ////////////////////////////////////////////////////////////////////End Home /////////////////////////////////////////////////////////////////////// */

.width200{
	min-width:225px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}


.order {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
    margin-bottom: 50px;
}

.order .form-control{
	width:150px;
	float:left;
}

.order .btn {

	float:right;
}

.thumbnail {
	max-height:330px;
	overflow: hidden;
    padding: 0;
}

.thumbnail img{
	margin:20px auto;
	width:auto;
	max-height:150px;
}


.thumbnail .caption-full {
    color: #333;
}

footer {
    margin: 50px 0;.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    color: #333;
}

footer {
    margin: 50px 0;
}
}

/* ////////////////////////////////////////////////////////////////////End Home /////////////////////////////////////////////////////////////////////// */


.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}